<%- include("../partials/top") %>
<div class="row">
	<div class="col-5 pt-5">
		<h3>Created Campgrounds:</h3>
		<ul>
			<% createdCamps.forEach(function(camp){ %>
				<li>
					<a href="/campgrounds/<%= camp._id %>"><%= camp.name %></a> - Created <%= moment(camp.createdDate).fromNow() %>
				</li>
			<% });%>
		</ul>
	</div>
	<div class="col-7 text-center">
		<h1><%= campCreator.fullName %></h1>
		<img src="<%= campCreator.avatar %>">
	</div>
</div>

<%- include("../partials/bottom") %>