<%- include("../partials/top") %>
<div class="jumbotron mt-3">
	<h1 class="display-4">Welcome to Yelp Camp!</h1>
	<p class="lead">Enjoy our wide collection of different campgrounds</p>
	<a class="btn btn-primary btn-lg" href="/campgrounds/new" role="button">Add New Campground</a>
</div>
	<% if(searched && !campList.length){ %>
	 <div class="row justify-content-center text-center align-items-center">
		<div class="col-10 col-md-12">
			<h3>No campgrounds match that query, please try again</h3>
			<form class="form-inline justify-content-center" action="/campgrounds" method="GET">
			  <input class="form-control mr-sm-2" type="search" name="search" placeholder="Search" aria-label="Search">
			  <button class="btn btn-outline-success my-2 my-sm-0">Search</button>
			</form>
		</div>
	<% }else{ %>
		<div class="row justify-content-between text-center align-items-center">	 
	<% } %>
	<% campList.forEach(function(camp){ %>
		<div class="col-sm-6 col-md-5 col-lg-4 mb-3 d-flex align-self-stretch">
			<div class="card">
				<img src="<%= camp.image %>" class="card-img-top">
				<div class="card-body">
					<h5 class="card-title"><%= camp.name %></h5>
					<div class="mb-3">
						<span><%= camp.comments.length %></span>
						<i class="fas fa-comments ml-1"></i>
					</div>
					<a class="btn btn-md btn-danger" href="/campgrounds/<%= camp._id %>">Read More</a>
				</div>
			</div>	
		</div>
	<% }); %>
</div>
<%- include("../partials/bottom") %>