<%- include("../partials/top") %>
<div class="my-3">
	<h1 class="text-center">Edit <%= camp.name %></h1>
	<div class="my-4 mx-auto">
		<form action="/campgrounds/<%= camp._id %>/?_method=PUT" method="POST">
			<input type="text" class="form-control mb-2" name="camp[name]" value="<%= camp.name %>" ariadescribedby="nameOfCamp">
			<input type="text" name="camp[image]" class="form-control mb-2" value="<%= camp.image %>">
			<input type="text" name="camp[description]" class="form-control mb-2" value="<%= camp.description %>">
			<input type="number" name="camp[price]" class="form-control mb-2" value="<%= camp.price %>" min="0.01" step="0.01">
			<button type="submit" class="btn btn-primary btn-block mb-2">Submit Changes</button>
		</form>
		<a href="/campgrounds/<%= camp._id %>">Go Back</a>
	</div>
</div>
<%- include("../partials/bottom") %>