<%- include("../partials/header") %>
<div class="jumbotron mt-3 mb-3">
	<h1 class="display-4">Welcome to Yelp Camp!</h1>
	<p class="lead">Enjoy our wide collection of different campgrounds</p>
	<a class="btn btn-primary btn-lg" href="/campgrounds/new" role="button">Add New Campground</a>
</div>
	<% if(searched && !camps.length){ %>
	 <div class="row justify-content-center text-center align-items-center">
		<div class="col-10 col-md-12">
			<h3>No campgrounds match that query, please try again</h3>
			<form class="form-inline justify-content-center" action="/campgrounds/page/1" method="GET">
			  <input class="form-control mr-sm-2" type="search" name="search" placeholder="search camps by name">
			  <button class="btn btn-outline-success my-2 my-sm-0">Search</button>
			</form>
		</div>
	<% } else{ %>
		<% if (typeof query !== 'undefined' && query.length > 0) { %>
			<div>
				<i class="fas fa-filter mr-2 mb-4"></i>
				keyword: <%= query %>
				<a href="/campgrounds/page/1" class="btn btn-danger btn-sm ml-2">Clear Filter</a>
			</div>
		<% } %>
	   <div class="row justify-content-between text-center align-items-center">	 
	<% } %>
	<% camps.forEach(function(camp){ %>
		<div class="col-sm-6 col-md-5 col-lg-4 mb-3 d-flex align-self-stretch">
			<div class="card">
				<img src="<%= camp.imageUrl %>" class="card-img-top">
				<div class="card-body">
					<h5 class="card-title"><%= camp.name %></h5>
					<% for(var i = 1; i <= 5; i++){ %>
						<% if(i <= camp.avgRating){ %>
							<i class="fas fa-star text-warning"></i>
						<% }else{ %>
							<i class="far fa-star"></i>
						<% } %>
					<% } %>
					<div class="mt-2 mb-2">
						<span><%= camp.comments.length %></span>
						<i class="fas fa-comments ml-1"></i>
					</div>
					<a class="btn btn-md btn-danger" href="/campgrounds/<%= camp._id %>">Read More</a>
				</div>
			</div>	
		</div>
	<% }); %>
	</div>
	<% if (numPages > 0) { %>
		<div class="row justify-content-center mt-3">
			<ul class="pagination">
				<% if (currentPageNum == 1) { %>
					<li class="page-item disabled"><a class="page-link">First</a></li>
				<% } else {%>
					<li class="page-item"><a class="page-link" href="/campgrounds/page/1<%= searched ? '?search=' + query : '' %>">First</a></li>
				<% } %>
				<% var i = (Number(currentPageNum) > 5 ? Number(currentPageNum) - 4 : 1) %>
				<% if (i !== 1) { %>
					<li class="page-item disabled"><a class="page-link">...</a></li>
				<% } %>
				<% for (; i <= (Number(currentPageNum) + 4) && i <= numPages; i++) { %>
					<% if (i == currentPageNum) { %>
						<li class="page-item active"><a class="page-link"><%= i %></a></li>
					<% } else { %>
						<li><a class="page-link" href="/campgrounds/page/<%= i %><%= searched ? '?search=' + query : '' %>"><%= i %></a></li>
					<% } %>
					<% if (i == Number(currentPageNum) + 4 && i < numPages) { %>
						<li class="page-item disabled"><a class="page-link">...</a></li>
					<% } %>
				<% } %>
				<% if (currentPageNum == numPages) { %>
					<li class="page-item disabled"><a class="page-link">Last</a></li>
				<% } else { %>
					<li><a class="page-link" href="/campgrounds/page/<%= numPages %><%= searched ? '?search=' + query : '' %>">Last</a></li>
				<% } %>
			</ul>
		</div>
    <% } %>
<%- include("../partials/footer") %>