<%- include("../partials/header") %>
	<div class="row mt-3">
		<div class="col-md-3 mb-3 mb-md-0">
			<h4>YelpCamp</h4>
			<div class="card" style="width: 100%">
				<ul class="list-group list-group-flush">
					<li class="list-group-item active">Info 1</li>
					<li class="list-group-item">Info 2</li>
					<li class="list-group-item">Info 3</li>
				</ul>
			</div>
		</div>
		<div class="col-md-9">
			<div class="border rounded p-0">
				<img src="<%= camp.image %>">
				<div class="mt-2 p-2">
					<h5 class="text-primary"><%= camp.name %>
						<strong>
							<span class="float-right text-dark">$<%= camp.price %>/night</span>
						</strong>
					</h5>
					<p><%= camp.description %></p>
					<p>Created by: <a href="/users/<%= camp.author.id %>"><%= camp.author.username %></a></p>
					<p>Updated: <%= moment(camp.updatedAt).fromNow() %></p>
					<% if(currentUser && (camp.author.id.equals(currentUser._id) || currentUser.isAdmin)){ %>
						<a class="btn btn-xs btn-warning" href="/campgrounds/<%= camp._id %>/edit">Edit</a>
						<form action="/campgrounds/<%= camp._id %>/?_method=DELETE" method="POST">
							<button class="btn btn-xs btn-danger">Delete</button>
						</form>
					<% } %>
				</div>
			</div>
			
			<div class="my-3 p-3 rounded border bg-light">
				<% for(var i = 1; i <= 5; i++){ %>
					<% if(i <= camp.avgRating){ %>
						<i class="fas fa-star text-warning"></i>
					<% }else{ %>
						<i class="far fa-star"></i>
					<% } %>
				<% } %>
				<span>(Total Reviews: <%= camp.comments.length %>)</span>
				<% if(hasCommented){ %>
					<button class="btn btn-md btn-secondary float-right mb-2" disabled>Add Comment</button>
				<% } else{ %>
					<a class="btn btn-md btn-success float-right mb-2" href="/campgrounds/<%= camp._id %>/comments/new">Add Comment</a>
				<% }%>
				<hr>
				<% camp.comments.forEach(function(comment){ %>
					<p>
						<% for(var i = 1; i <= 5; i++){ %>
							<% if(i <= comment.rating){ %>
								<i class="fas fa-star text-warning"></i>
							<% }else{ %>
								<i class="far fa-star"></i>
							<% } %>
						<% } %>
						<span class="float-right"><%= moment(comment.createdAt).fromNow() %></span>
						<br>
						<strong><%= comment.author.username %></strong>
					</p>
					<p><%= comment.content %></p>
					<% if(currentUser && (comment.author.id.equals(currentUser._id) || currentUser.isAdmin)) { %>
						<a class="btn btn-xs btn-warning" href="/campgrounds/<%= camp._id %>/comments/<%= comment._id %>/edit">Edit</a>
						<form action="/campgrounds/<%= camp._id %>/comments/<%= comment._id %>/?_method=DELETE" method="POST">
							<button class="btn btn-xs btn-danger">Delete</button>
						</form>
					<% } %>
				<% }); %>
			</div>
		</div>
	</div>
<%- include("../partials/footer") %>